*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: cadetblue;
}
header:hover{
    background-image: url(../img/pexels-santesson89-32660267.jpg); 
    height: 50vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(128, 128, 128, 0.541);
    padding: 10px;
    border-style: double;
    border-radius: 20px;

}
.presentacion {
    
    font-family: "Orbitron", sans-serif;
    text-align: center;
    text-transform: initial;
    letter-spacing: 5px;
    color: rgb(0, 255, 255);
}
div{
   margin: 50px;
   color: whitesmoke;
   padding: 20px;
   background-color: rgba(128, 128, 128, 0.541);
   border-style: double;
   border-radius: 20px;

}
footer{
    background-color: rgba(128, 128, 128, 0.541);
    color: whitesmoke;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
}
