*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: cadetblue;
}
header{
    background-color: rgba(128, 128, 128, 0.541);
    padding: 10px;
    border-style: double;
    border-radius: 20px;

}
.presentacion{
    text-align: center;
    text-transform: initial;
    letter-spacing: 5px;
    color: whitesmoke;
}
div{
   margin: 50px;
   color: whitesmoke;
   padding: 20px;
   background-color: rgba(128, 128, 128, 0.541);
   border-style: double;
   border-radius: 20px;

}
